<div class="w-screen h-screen flex justify-between fixed">
    <div class="w-[20%]">
        <app-side-bar></app-side-bar>
    </div>
    <div class="w-[80%] h-full px-8">
        <app-header-admin></app-header-admin>
        <div class="h-[90%]">
            <div class="h-[5%] flex items-center">
                <p>Dashboard <span class="font-bold">></span> Users</p>
            </div>
            <div class="h-[95%]">
                <app-users-tabel></app-users-tabel>
            </div>
        </div>
    </div>
</div>