<div class="container mx-auto fixed top-0 left-0 right-0 bg-white px-8 py-4 z-50">
    <div class="flex justify-between items-center">
        <h1 class="px-10 bg-black py-2 text-white font-bold">E Commerce</h1>
        <div>
            <ul class="flex gap-6 text-sm">
                <li class="border-b-[3px] py-1 w-24 text-center border-white hover:border-black duration-200">
                    <a routerLink="#">
                        Home
                    </a>
                </li>
                <li class="border-b-[3px] py-1 w-24 text-center border-white hover:border-black duration-200">
                    <a routerLink="#">
                        Product
                    </a>
                </li>
                <li class="border-b-[3px] py-1 w-24 text-center border-white hover:border-black duration-200">
                    <a routerLink="#">
                        Discount
                    </a>
                </li>
                <li class="border-b-[3px] py-1 w-24 text-center border-white hover:border-black duration-200">
                    <a routerLink="#">
                        Populer
                    </a>
                </li>
            </ul>
        </div>
        <div class="flex items-center">
            <span class="material-symbols-outlined {{visibilityIcon}}" mat-raised-button matTooltip="Dashboard">dashboard</span>
            <span class="material-symbols-outlined px-6" mat-raised-button matTooltip="Notifications">notifications</span>
            <span class="material-symbols-outlined mr-6" mat-raised-button matTooltip="Cart">shopping_cart</span>
            <img src="http://localhost:3222/users/image/{{photo_profile}}" class="w-8 ml-2" />
        </div>
    </div>
</div>