<div class="w-full py-6 bg-black text-white fixed top-0">
    <div class="container mx-auto flex justify-between px-4 items-center">
        <div class="w-1/4">
            <h1 class="font-bold text-xl">TokTok</h1>
        </div>
        <div class="w-2/4 relative flex justify-center">
            <ul class="flex justify-center">
                <li>
                    <a href="#" class="mx-5 text-sm hover:text-teal-500 border-b-2 border-black hover:border-teal-500 py-2 duration-200">
                        New Product
                    </a>
                </li>
                <li>
                    <a href="#" class="mx-5 text-sm hover:text-teal-500 border-b-2 border-black hover:border-teal-500 py-2 duration-200">
                        For You
                    </a>
                </li>
                <li>
                    <a href="#" class="mx-5 text-sm hover:text-teal-500 border-b-2 border-black hover:border-teal-500 py-2 duration-200">
                        Trending Product
                    </a>
                </li>
                <li>
                    <a href="#" class="mx-5 text-sm hover:text-teal-500 border-b-2 border-black hover:border-teal-500 py-2 duration-200">
                        Discount 
                    </a>
                </li>
            </ul>
        </div>
        <div class="w-1/4">
            <div class="flex justify-end items-center">
                <button class="border border-white text-teal-500 text-sm py-2 px-8 hover:bg-teal-500/30 mr-3">Login</button>
                <button class="border border-white text-teal-500 text-sm py-2 px-8 hover:bg-teal-500/30 ml-3">Signup</button>
            </div>
        </div>
    </div>
</div>