<div class="w-full py-6 bg-black text-white fixed top-0">
    <div class="container mx-auto flex justify-between px-4 items-center">
        <div class="w-1/4">
            <h1 class="font-bold text-xl">TokTok</h1>
        </div>
        <div class="w-2/4 relative">
            <input class="outline-none border border-white bg-black rounded px-4 w-full text-sm py-3" placeholder="Search Product" (input)="onChangeSearch($event)" />
            <p class="absolute top-[13px] right-4 cursor-pointer text-sm"><i class="fa-solid fa-magnifying-glass"></i></p>
        </div>
        <div class="w-1/4">
            <div class="flex justify-end items-center">
                <span class="material-symbols-outlined mr-6">shopping_cart</span>
                <button class="flex items-center border py-2 px-4 border-white rounded cursor-pointer">
                    <span class="material-symbols-outlined">person</span>
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                </button>
            </div>
        </div>
    </div>
</div>