<app-header></app-header>
<div class="w-full h-screen py-28">
    <div class="w-[80%] mx-auto h-[550px] flex justify-between items-center bg-white rounded-xl shadow-sm">
        <div class="px-10 w-2/4">
            <h1 class="text-4xl font-bold">Lorem Ipsum Dolor Sit Amet</h1>
            <p class="text-xs text-gray-500 my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur delectus labore consequatur iste vel fugit ad obcaecati cupiditate. Repellat maiores soluta voluptatem eaque facilis excepturi natus consectetur fugit commodi praesentium!</p>
            <button class="border-2 px-10 py-2 text-sm rounded-lg border-black hover:bg-black hover:text-white duration-200 font-semibold">
                Shop Now
            </button>
        </div>
        <div class="w-2/4">
            <img src="../../../assets/background-home.jpg" />
        </div>
    </div>
</div>
<div class="w-[80%] mx-auto">
    <app-card-product></app-card-product>
</div>