<app-header></app-header>
<div class="h-screen w-full flex justify-center items-center flex-col">
    <h1 class="text-7xl font-bold uppercase">Lorem ipsum dolor</h1>
    <p class="w-2/4 mx-auto text-center mt-4 text-sm">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quasi, dolorum, rem illum alias deserunt minima voluptatibus sit ea, voluptates iste vitae velit beatae. Nisi deleniti quam magni corporis quos.
    </p>
    <button class="text-sm border-2 px-6 py-2 mt-6 border-black hover:bg-black hover:text-white duration-200">Go To Product</button>
</div>