<div class="w-screen h-screen flex justify-center items-center">
    <div class="w-2/4 flex justify-center">
        <img src="../../../assets/ilustration-login.jpg" class="w-2/4" />
    </div>
    <div class="w-2/4 flex justify-center border-l-2 border-black">
        <div class="w-3/4 px-24 py-16">
            <p class="text-center font-bold text-xl">Welcome Back</p>
            <p class="w-3/4 text-center mx-auto text-xs mt-2 text-slate-500">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <form class="w-full mt-4 relative" [formGroup]="formGroup">
                <input class="border-2 outline-none px-10 py-3 w-full text-xs rounded-full border-black font-medium" placeholder="Username" type="text" formControlName="username" />
                <span class="material-symbols-outlined text-lg absolute top-[8px] left-4">account_circle</span>
                <input class="border-2 outline-none px-10 py-3 w-full text-xs rounded-full border-black font-medium mt-4" placeholder="Username" type="{{passwordType}}" formControlName="password" />
                <span class="material-symbols-outlined text-lg absolute top-[68px] left-4">lock</span>
                <span class="material-symbols-outlined text-lg absolute top-[68px] right-4 cursor-pointer" (click)="passwordVisibility()">visibility</span>
                <p class="mt-5 text-xs font-medium">Forgot The Password? <a href="#" class="text-blue-500">Recovery</a></p>
                <div class="flex justify-center mt-6">
                    <button class="border-2 w-2/4 py-2 text-sm rounded-full border-black hover:text-white hover:bg-black duration-200" (click)="loginButton()">
                        Login
                    </button>
                </div>
            </form>
            <p class="mt-10 text-xs font-medium text-center">Don't Have Account Yet? <a href="#" class="text-blue-500">Sign Up</a></p>
        </div>
    </div>
</div>